@using CreativeWeb.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    
    <link href="~/Content/jquery.custom-scroll.css" rel="stylesheet" />
    <link href="~/Content/Items.css" rel="stylesheet" />
    <link href="~/Content/pushy.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
  
</head>
<body>
    <nav class="pushy pushy-left">
        <ul>
            <li><h1>Категорії</h1></li>
            <li>@Html.ActionLink("Penzlyk", "SelectType", "Home", new { type = "Penzlyk" }, new { @class = "pushy-link" })</li>
            <li>@Html.ActionLink("Pidramnyk", "SelectType", "Home", new { type = "Pidramnyk" }, new { @class = "pushy-link" })</li>
            <li>@Html.ActionLink("Pydramnik", "SelectType", "Home", new { type = "Pydramnik" }, new { @class = "pushy-link" })</li>
            <li>@Html.ActionLink("Penzlyk", "SelectType", "Home", new { type = "Penzlyk" }, new { @class = "pushy-link" })</li>
            <li>@Html.ActionLink("Pidramnyk", "SelectType", "Home", new { type = "Pidramnyk" }, new { @class = "pushy-link" })</li>
            <li>@Html.ActionLink("Pydramnik", "SelectType", "Home", new { type = "Pydramnik" }, new { @class = "pushy-link" })</li>
        </ul>        
    </nav>  
   
    <div class="site-overlay"></div>
    
    <div id="container">      
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("CREATIVE", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>
                        @Html.ActionLink("Penzlyk", "SelectType", "Home", new { type = "Penzlyk" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Pidramnyk", "SelectType", "Home", new { type = "Pidramnyk" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Pydramnik", "SelectType", "Home", new { type = "Pydramnik" }, null)
                    </li>
                    <li><a href="#">Category 4</a></li>
                    <li><a href="#">Category 5</a></li>
                    <li><a href="#">Category 6</a></li>
                    <li><a href="#">Category 7</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Info</a></li>
                </ul>
            </div>
        </div>

        <!--SideBar menu-->
        <div class="categories-menu-btn"> 
            <div class="menu-btn">&#9776; Категорії</div>
        </div>

        <!--Cart Button-->
        @{
            var cart = (Cart)Session["Cart"];
            if (cart != null && cart.Lines.Any())
            {
              @Html.ActionLink(" ", "Index", "Cart", new {returnUrl=Request.Url.PathAndQuery}, new { @class = "btn btn-default btn-cart" })
            }
        }     

        <div class="body-content">
            <div class="row">      
                <div class="col-md-10 main-content">
                    @RenderBody()
                </div>
                <div class="col-md-2 advert">
                    <div class="advert-item">
                        <img class="advert-img" src="~/Content/Images/5.jpg" alt="" />
                        <p class="advert-description">Reklama realmam</p>
                    </div>
                    <div class="advert-item">
                        <img class="advert-img" src="~/Content/Images/6.jpg" alt="" />
                        <p class="advert-description">Reklama realmam</p>
                    </div>
                    <div class="advert-item">
                        <img class="advert-img" src="~/Content/Images/7.jpg" alt="" />
                        <p class="advert-description">Reklama realmam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <footer></footer>
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/jquery.custom-scroll.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/pushy.min.js"></script>
    <script src="~/Scripts/InputNumberStyle.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".item-image").error(function () {
                $(this).attr({
                    src: '/Content/Images/ItemDefault.jpg'
                });
            });
        });
        $(function () {
            $(".cart-item-img").error(function () {
                $(this).attr({
                    src: '/Content/Images/ItemDefault.jpg'
                });
            });
        });
    </script>
</body>


</html>
