@model PagedList.IPagedList<Item>
@using CreativeWeb.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = Model.FirstOrDefault().Type;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {
        using (Html.BeginForm("AddToCart", "Cart"))
        {
            <figure class="snip1418">
                <img src="@item.ImageSrc" alt="" />
                <div class="add-to-cart"> <i class="ion-android-add"></i><span>Додати в корзину</span></div>
                <figcaption>
                    <div>
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <input type="hidden" name="returnUrl" value="@Request.Url.PathAndQuery" />

                        <h3>@item.Name</h3>
                        <p>@item.Description</p>

                            <div class="quantity">
                                <input type="number" name="quantity" min="1" max="999999" step="1" value="1" />
                            </div>
                            <div class="price">
                                @item.Price грн
                            </div>
                    </div>
                </figcaption>
                <a href="#" onclick="$(this).closest('form').submit()"></a>
            </figure>
        }
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("SelectType", new { type = Model.FirstOrDefault().Type, page }))

@section Scripts{
    <script type="text/javascript">
        $(".hover").mouseleave(
          function () {
              $(this).removeClass("hover");
          }
        );
        $('.snip1418').customScroll({
            horizontal: false
        });
    </script>
}
