@model PagedList.IPagedList<Item>
@using CreativeWeb.Models;
@using PagedList.Mvc;
@{
    ViewBag.Title = Model.FirstOrDefault().Type;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<Item> first3 = Model.Take(3).ToList();
    List<Item> second3 = Model.Skip(3).Take(3).ToList();
    List<Item> third3 = Model.Skip(6).Take(3).ToList();
}

@helper CreateRow(List<Item> list)
{
foreach (var item in list)
{

    using (Html.BeginForm("AddToCart", "Cart"))
    {
            <figure class="snip1418">
                <img src="@item.ImageSrc" />
                <div class="add-to-cart"> <i class="ion-android-add"></i><span>Add to Cart</span></div>
                <figcaption>
                    <div >
                        <h3>@item.Name</h3>

                        <p>@item.Description</p>


                        <div class="price">
                            @item.Price грн
                        </div>
                    </div>

                </figcaption>@Html.ActionLink(" ", "AddToCart", "Cart", new { itemId = @item.Id, returnUrl = @Request.Url.PathAndQuery }, null)

            </figure>
        }
    }
}


@foreach (var item in Model)
{
    using (Html.BeginForm("AddToCart", "Cart"))
    {
        <figure class="snip1418">
            <img src="@item.ImageSrc" />
            <div class="add-to-cart"> <i class="ion-android-add"></i><span>Додати в корзину</span></div>
            <figcaption>
                <div>
                    <h3>@item.Name</h3>

                    <p>@item.Description</p>


                    <div class="price">
                        @item.Price грн
                    </div>
                </div>

            </figcaption>@Html.ActionLink(" ", "AddToCart", "Cart", new { itemId = @item.Id, returnUrl = @Request.Url.PathAndQuery }, null)

        </figure>
    }
}
@*
<div class="row">
    @CreateRow(first3)
</div>
<div class="row">
    @CreateRow(second3)
</div>
<div class="row">
    @CreateRow(third3)
</div>
*@
@Html.PagedListPager(Model, page => Url.Action("SelectType", new { type = Model.FirstOrDefault().Type, page }))

@section Scripts{
    <script type="text/javascript">
        $(".hover").mouseleave(
          function () {
              $(this).removeClass("hover");
          }
        );
    </script>
}
